@import url("./palette.css");
@import url("./main.css");
@import url("./login.css");


.p-forgotpassword-container {
    width: 400px;
    height: min-content;
    border-radius: .8em;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    color: var(--text);
    box-shadow: var(--shadow);
    background: var(--gradient);
    padding-bottom: 1.2em;
}