@import url(/static/css/palette.css);
@import url(/static/css/main.css);
@import url(/static/css/login.css);

.p-forgotpassword-container {
    width: 400px;
    height: min-content;
    border-radius: .8em;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    color: var(--text);
    box-shadow: var(--shadow);
    background: var(--gradient);
    padding-bottom: 1.2em;
}