{% extends "base.html" %}

{% block title %}
Under Construction - Bajeti
{% endblock %}

{% block content %}
<section class="p-login">
  <div class="p-register-container p-under-construction">
    <h1 class="p-input-header">
      <i class="fa fa-wrench"></i> Under Construction
    </h1>

    <div class="p-signin-details p-center-text">
      <p class="p-text-muted">
        We're working hard to bring you something amazing.<br />
        Please check back soon!
      </p>

      <div class="p-btn-group">
        <a href="/" class="p-login-button p-warning-btn">
          <i class="fa fa-home"></i> Back to Home
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
